@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 3px;
    background-color: #fafafc;
}

::-webkit-scrollbar-thumb {
    background-color: #f25d23;
    border-radius: 5px;
}

.bg-sidebar {
    background-color: #f4f6fa;
}

.active-feed-tab {
    border-bottom: 2px solid #3b82f6;
    color: #3b82f6;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
    border-radius: 0;
}

.page-item.active .page-link {
    background: #3b82f6;
    border: 1px solid #3b82f6;
    color: #ffff;
}

.page-item .page-link {
    color: #979797;
    font-size: 10px;
    padding: 8px 12px;
    border: 1px solid #cecece;
}

.page-item.disabled .page-link {
    border: 1px solid #cecece;
}

.min-height-2-5 {
    min-height: 2.5em !important;
}